.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9 {
  position: fixed;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  background-color: #ffd300;
  z-index: -10; }

.transwrite {
  position: fixed;
  display: flex;
  font-family: 'Indie Flower', cursive;
  background-color: transparent;
  font-size: 17vw;
  opacity: 1;
  z-index: 10; }

.subcontentmenu {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 3.1vw;
  font-weight: bold;
  margin-top: 1.5vw;
  display: inline-block; }

body {
  background-color: #dddddd;
  font-size: 100%;
  cursor: url("mouse-pointer-solid.svg"), default; }

a {
  color: inherit; }

.slider {
  position: fixed;
  font-family: 'Playfair Display', serif;
  display: flex;
  z-index: 20;
  font-size: 13.5vw;
  margin-top: 8vw;
  margin-left: 8vw; }
  .slider div:nth-child(1) {
    animation: slide 300ms 2660ms forwards; }
  .slider div:nth-child(2) {
    animation: slide 300ms 2720ms forwards; }
  .slider div:nth-child(3) {
    animation: slide 300ms 2780ms forwards; }
  .slider div:nth-child(4) {
    animation: slide 300ms 2840ms forwards; }
  .slider div:nth-child(5) {
    animation: slide 300ms 2900ms forwards; }
  .slider div:nth-child(6) {
    animation: slide 300ms 2960ms forwards; }
  .slider div:nth-child(7) {
    animation: slide 300ms 3020ms forwards; }
  .slider div:nth-child(8) {
    animation: slide 300ms 3080ms forwards; }
  .slider div:nth-child(9) {
    animation: slide 300ms 3140ms forwards; }

.slider div {
  opacity: 0; }

.slider2 {
  position: fixed;
  font-family: 'Playfair Display', serif;
  display: flex;
  z-index: 20;
  font-size: 13.5vw;
  margin-top: 22vw;
  margin-left: 15vw; }
  .slider2 div:nth-child(1) {
    animation: slide 300ms 3160ms forwards; }
  .slider2 div:nth-child(2) {
    animation: slide 300ms 3220ms forwards; }
  .slider2 div:nth-child(3) {
    animation: slide 300ms 3280ms forwards; }
  .slider2 div:nth-child(4) {
    animation: slide 300ms 3340ms forwards; }
  .slider2 div:nth-child(5) {
    animation: slide 300ms 3400ms forwards; }
  .slider2 div:nth-child(6) {
    animation: slide 300ms 3460ms forwards; }
  .slider2 div:nth-child(7) {
    animation: slide 300ms 3520ms forwards; }
  .slider2 div:nth-child(8) {
    animation: slide 300ms 3580ms forwards; }
  .slider2 div:nth-child(9) {
    animation: slide 300ms 3640ms forwards; }
  .slider2 div:nth-child(10) {
    animation: slide 300ms 3700ms forwards; }
  .slider2 div:nth-child(11) {
    animation: slide 300ms 3760ms forwards; }
  .slider2 div:nth-child(12) {
    animation: slide 300ms 3820ms forwards; }

.slider2 div {
  opacity: 0; }

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-3vw, 6vw); }
  to {
    opacity: 0.6;
    transform: translate(1vw, 1vw); } }
.slider-down div:nth-child(8) {
  animation: slidedown 300ms 0ms forwards; }
.slider-down div:nth-child(7) {
  animation: slidedown 300ms 60ms forwards; }
.slider-down div:nth-child(6) {
  animation: slidedown 300ms 120ms forwards; }
.slider-down div:nth-child(5) {
  animation: slidedown 300ms 180ms forwards; }
.slider-down div:nth-child(4) {
  animation: slidedown 300ms 240ms forwards; }
.slider-down div:nth-child(3) {
  animation: slidedown 300ms 300ms forwards; }
.slider-down div:nth-child(2) {
  animation: slidedown 300ms 360ms forwards; }
.slider-down div:nth-child(1) {
  animation: slidedown 300ms 420ms forwards; }
.slider-down div:nth-child(0) {
  animation: slidedown 300ms 480ms forwards; }

.slider-down div {
  opacity: 0.6;
  transform: translate(1vw, 1vw); }

.slider-down2 div:nth-child(11) {
  animation: slidedown 300ms 60ms forwards; }
.slider-down2 div:nth-child(10) {
  animation: slidedown 300ms 120ms forwards; }
.slider-down2 div:nth-child(9) {
  animation: slidedown 300ms 180ms forwards; }
.slider-down2 div:nth-child(8) {
  animation: slidedown 300ms 240ms forwards; }
.slider-down2 div:nth-child(7) {
  animation: slidedown 300ms 300ms forwards; }
.slider-down2 div:nth-child(6) {
  animation: slidedown 300ms 360ms forwards; }
.slider-down2 div:nth-child(5) {
  animation: slidedown 300ms 420ms forwards; }
.slider-down2 div:nth-child(4) {
  animation: slidedown 300ms 480ms forwards; }
.slider-down2 div:nth-child(3) {
  animation: slidedown 300ms 540ms forwards; }
.slider-down2 div:nth-child(2) {
  animation: slidedown 300ms 600ms forwards; }
.slider-down2 div:nth-child(1) {
  animation: slidedown 300ms 660ms forwards; }
.slider-down2 div:nth-child(0) {
  animation: slidedown 300ms 720ms forwards; }

.slider-down2 div {
  opacity: 0.6;
  transform: translate(1vw, 1vw); }

@keyframes slidedown {
  from {
    opacity: 0.6;
    transform: translate(1vw, 1vw); }
  to {
    opacity: 0;
    transform: translate(-3vw, 6vw); } }
.transwrite {
  fill: none;
  stroke-width: 1;
  stroke: #444444;
  margin-top: 11vw; }
  .transwrite tspan > tspan {
    stroke-dasharray: 1500;
    stroke-dashoffset: -1500; }
    .transwrite tspan > tspan:nth-of-type(1) {
      animation: draw 300ms 3850ms forwards; }
    .transwrite tspan > tspan:nth-of-type(2) {
      animation: draw 300ms 4000ms forwards; }
    .transwrite tspan > tspan:nth-of-type(3) {
      animation: draw 300ms 4150ms forwards; }
    .transwrite tspan > tspan:nth-of-type(4) {
      animation: draw 300ms 4300ms forwards; }

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
    fill: #444444; } }
.transwrite-down {
  stroke: #444444;
  fill: #444444; }
  .transwrite-down tspan > tspan {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0; }
    .transwrite-down tspan > tspan:nth-of-type(4) {
      animation: drawdown 300ms 150ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(3) {
      animation: drawdown 300ms 300ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(2) {
      animation: drawdown 300ms 450ms forwards; }
    .transwrite-down tspan > tspan:nth-of-type(1) {
      animation: drawdown 300ms 600ms forwards; }

@keyframes drawdown {
  100% {
    stroke-dashoffset: -1500;
    fill: none; } }
.circle1 {
  left: 42vw;
  top: 19vw; }

.circle2 {
  left: 42vw;
  top: 15vw; }

.circle3 {
  left: 46.1vw;
  top: 19vw; }

.circle4 {
  left: 42vw;
  top: 23vw; }

.circle5 {
  left: 38.1vw;
  top: 19vw; }

.circle6 {
  left: 44.5vw;
  top: 15.8vw; }

.circle7 {
  left: 44.5vw;
  top: 22.2vw; }

.circle8 {
  left: 39.6vw;
  top: 22.1vw; }

.circle9 {
  left: 39.6vw;
  top: 15.9vw; }

.circleanimation {
  animation: expand 3500ms infinite; }

@keyframes expand {
  0% {
    height: 35vw;
    width: 35vw; }
  50% {
    height: 37vw;
    width: 37vw; }
  100% {
    height: 35vw;
    width: 35vw; } }
.bersi {
  position: fixed;
  z-index: -5;
  height: 10vw;
  width: 10vw;
  margin-top: 18.5vw;
  margin-left: 41.5vw; }

.crystalclear {
  position: fixed;
  z-index: 50;
  font-family: 'Playfair Display', serif;
  margin: 1vw 2vw 2vw 2vw;
  font-size: 1.15vw;
  letter-spacing: 0.05vw;
  opacity: 0;
  display: flex;
  animation: appear 100ms 7680ms forwards; }

.space {
  margin-right: 60vw; }

#insta {
  font-size: 2.5vw;
  padding: 0.5vw;
  padding-right: 1.5vw; }

#insta2 {
  cursor: url("mouse-pointer-solid.svg"), default;
  padding: 0.5vw;
  padding-right: 1.5vw; }

.lowerbar {
  position: fixed;
  z-index: 50;
  display: flex;
  bottom: 1vw;
  opacity: 0;
  animation: appear 100ms 7680ms forwards; }

.lowercrystal {
  display: flex;
  font-size: 3vw;
  left: 2vw; }

.news {
  left: 7vw;
  overflow: hidden;
  height: 3.5vw;
  white-space: nowrap; }

.newspara {
  position: fixed;
  padding: 1vw 0.5vw 0.5vw 0.5vw;
  animation: paraslide 30s linear 1s infinite forwards; }

.newspara2 {
  position: fixed;
  padding: 1vw 0.5vw 0.5vw 0.5vw;
  transform: translateX(120vw);
  animation: paraslide 30s linear 16s infinite forwards; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes paraslide {
  0% {
    transform: translateX(100vw); }
  100% {
    transform: translateX(-90vw); } }
.contentmenu {
  position: fixed;
  margin: 5vw 13vw;
  z-index: 60; }

.indexletter {
  position: relative;
  display: inline-flex; }

.indexletter div {
  margin-right: 0.1vw;
  opacity: 0;
  transform: translate(1vw, 1vw); }

.indexanimation1 div:nth-child(1) {
  animation: indexslide 200ms 40ms forwards; }
.indexanimation1 div:nth-child(2) {
  animation: indexslide 200ms 80ms forwards; }
.indexanimation1 div:nth-child(3) {
  animation: indexslide 200ms 120ms forwards; }
.indexanimation1 div:nth-child(4) {
  animation: indexslide 200ms 160ms forwards; }
.indexanimation1 div:nth-child(5) {
  animation: indexslide 200ms 200ms forwards; }
.indexanimation1 div:nth-child(6) {
  animation: indexslide 200ms 240ms forwards; }
.indexanimation1 div:nth-child(7) {
  animation: indexslide 200ms 280ms forwards; }
.indexanimation1 div:nth-child(8) {
  animation: indexslide 200ms 320ms forwards; }
.indexanimation1 div:nth-child(9) {
  animation: indexslide 200ms 360ms forwards; }
.indexanimation1 div:nth-child(10) {
  animation: indexslide 200ms 400ms forwards; }
.indexanimation1 div:nth-child(11) {
  animation: indexslide 200ms 440ms forwards; }
.indexanimation1 div:nth-child(12) {
  animation: indexslide 200ms 480ms forwards; }
.indexanimation1 div:nth-child(13) {
  animation: indexslide 200ms 520ms forwards; }
.indexanimation1 div:nth-child(14) {
  animation: indexslide 200ms 560ms forwards; }
.indexanimation1 div:nth-child(15) {
  animation: indexslide 200ms 600ms forwards; }
.indexanimation1 div:nth-child(16) {
  animation: indexslide 200ms 640ms forwards; }
.indexanimation1 div:nth-child(17) {
  animation: indexslide 200ms 680ms forwards; }
.indexanimation1 div:nth-child(18) {
  animation: indexslide 200ms 720ms forwards; }
.indexanimation1 div:nth-child(19) {
  animation: indexslide 200ms 760ms forwards; }
.indexanimation1 div:nth-child(20) {
  animation: indexslide 200ms 800ms forwards; }
.indexanimation1 div:nth-child(21) {
  animation: indexslide 200ms 840ms forwards; }
.indexanimation1 div:nth-child(22) {
  animation: indexslide 200ms 880ms forwards; }
.indexanimation1 div:nth-child(23) {
  animation: indexslide 200ms 920ms forwards; }
.indexanimation1 div:nth-child(24) {
  animation: indexslide 200ms 960ms forwards; }
.indexanimation1 div:nth-child(25) {
  animation: indexslide 200ms 1000ms forwards; }
.indexanimation1 div:nth-child(26) {
  animation: indexslide 200ms 1040ms forwards; }
.indexanimation1 div:nth-child(27) {
  animation: indexslide 200ms 1080ms forwards; }
.indexanimation1 div:nth-child(28) {
  animation: indexslide 200ms 1120ms forwards; }
.indexanimation1 div:nth-child(29) {
  animation: indexslide 200ms 1160ms forwards; }
.indexanimation1 div:nth-child(30) {
  animation: indexslide 200ms 1200ms forwards; }
.indexanimation1 div:nth-child(31) {
  animation: indexslide 200ms 1240ms forwards; }
.indexanimation1 div:nth-child(32) {
  animation: indexslide 200ms 1280ms forwards; }
.indexanimation1 div:nth-child(33) {
  animation: indexslide 200ms 1320ms forwards; }
.indexanimation1 div:nth-child(34) {
  animation: indexslide 200ms 1360ms forwards; }
.indexanimation1 div:nth-child(35) {
  animation: indexslide 200ms 1400ms forwards; }
.indexanimation1 div:nth-child(36) {
  animation: indexslide 200ms 1440ms forwards; }
.indexanimation1 div:nth-child(37) {
  animation: indexslide 200ms 1480ms forwards; }
.indexanimation1 div:nth-child(38) {
  animation: indexslide 200ms 1520ms forwards; }
.indexanimation1 div:nth-child(39) {
  animation: indexslide 200ms 1560ms forwards; }
.indexanimation1 div:nth-child(40) {
  animation: indexslide 200ms 1600ms forwards; }
.indexanimation1 div:nth-child(41) {
  animation: indexslide 200ms 1640ms forwards; }
.indexanimation1 div:nth-child(42) {
  animation: indexslide 200ms 1680ms forwards; }

.indexbreakanimation {
  animation: indexslide 200ms forwards; }

@keyframes indexslide {
  from {
    opacity: 0;
    transform: translate(-3vw, 6vw); }
  to {
    opacity: 1;
    transform: translate(1vw, 1vw); } }
.underlined {
  position: fixed;
  z-index: 55;
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
